.post-body {
  .poster-data {
    display: flex;
    gap: 1rem;
    align-items: center;

    div {
      p {
        margin: 0;
      }
      .username {
        color: blue;
      }

      .username:hover {
        text-decoration: underline;
      }
    }
  }

  .bottom-bar {
    display: flex;
    align-items: center;

    span.liketext {
      color: darkblue;
      cursor: pointer;
      margin-right: 0.5rem;
    }

    span.liketext:hover {
      text-decoration: underline;
    }
  }
}
