@font-face {
  font-family: "KgSecondChancesSketch";
  src: url("../assets/fonts/KgSecondChancesSketch-KpAp.woff2") format("woff2");
}

@font-face {
  font-family: "KgSecondChancesSolid";
  src: url("../assets/fonts/KgSecondChancesSolid-2B6K.woff2") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  --penblue: #284283;
  --btn-x-offset: 0.1rem;
  --btn-y-offset: 0.25rem;

  background: #f1f1f1;
  overflow-x: hidden;
}

#notebook-paper {
  z-index: 0;
  width: 100%;
  min-height: 100vh;

  /* This is for the notebook-style lines running through the background */
  background: linear-gradient(to bottom, #f8f8f8 29px, #00b0d7 1px);
  background-size: 100% 30px;
  position: relative;
  margin-bottom: 0;

  /* This is for the red line (margin) on the left side of the page. */
  &:before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    width: 1px;
    background: #db4034;
  }
}

a {
  color: unset;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* TODO: review this css, is it all needed? */
  .create-post,
  &.modal-content,
  .posts > * {
    padding: 1rem;
    position: relative;
    z-index: 3;
    background-color: white !important;
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
      0px 0px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
      0px 0px 6px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
      0px 0px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2),
      0px 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), 0px 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
  }
  
  &.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    gap: 1rem;

    h1 {
      font-size: 1.25rem;
    }

    .btns {
      margin-left: auto;

      button {
        margin-left: 0.5rem;
      }
    }
  }
}

.MuiAvatar-img:hover {
  cursor: pointer;
  opacity: 0.8 !important;
}

.mui-tooltip:hover, .MuiTooltip-tooltip:hover, .MuiTooltip-popper:hover {
  cursor: pointer;
}

.username {
  color: blue;
}

.username:hover {
  text-decoration: underline;
}

.MuiDivider-root {
  border-color: black !important;
}

.MuiContainer-root {
  max-height: 90vh;
  overflow-y: auto;
}
